<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.fastforward">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fast_forward"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fast_forward_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Jagriti"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Escape"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Disha"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".BloodLine"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Communicate"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>
